<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Eat-Da Burger!</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="">
            <img src="/public/assets/img/burger.jpeg" class="card-img-top" alt="burger">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        </div>
    </div>
</div>



{{!-- <h2>Burgers that were not devoured!</h2> --}}

<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <ol>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-6">
            <ol>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/if}}
                {{/each}}
            </ol>            
        </div>
    </div>
</div>


{{!-- <h2>Add a Burger</h2> --}}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="create-form text-center">
                <div class="form-group">
                    <input type="text" id="burg" name="name">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                <p class="mt-3">Enter a burger you want to eat and Click the "Submit" button</p>
            </form>           
        </div>
    </div>
</div>
